span {
    color:rgb(187, 34, 34)
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(110, 105, 105);
}

h2 {
    color:rgb(110, 105, 105);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.projects {
    color: darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.list {
    color:brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-color: rgb(235, 235, 235);
    
}

.col-md-3 {
    border: solid black;
    border-width: 1px;
    padding: 2px;
    margin: auto;
    width: 7cm;
}
img {
    width: 5cm;
    border: 6px solid rgb(187, 34, 34);
    padding: 10px solid yellow;
    margin: 3px;
    position:relative;
    display: block;
    background-color: rgb(235, 235, 235);
}
.sidebar {
    float: left;
    margin: 0.5cm;
}
#boxcolor {
    background-color: rgb(235, 235, 235);
    border-color: rgb(235, 235, 235);
}